/*Estilos da página index.html*/

body {
    background-color: #F5BF9B;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 30px;

}

#menu li a {
    text-decoration: none;
    color: #361106;
    font-size: 20px;
}

#menu li a:hover {
    color: #DB441A;
    background-color: blanchedalmond;
    border-radius: 22%;
}

.p-30 {
    padding: 30px;
}

.br-15 {
    border-radius: 15%;
}


.tm-social {
    width: 50px;
    height: 50px;

}

.mb-50 {
    margin-bottom: 50px;
}


/*Estilos da página contato.html*/

.p-60 {
    padding: 60px;
}

.br-50 {
    border-radius: 50%;
}